.theme-default .nivoSlider {
    -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
    -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
    background: #fff url(loading.gif) no-repeat 50% 50%;
    box-shadow: 0px 1px 5px 0px #4a4a4a;
    margin-bottom: 50px;
    position: relative;
}

.theme-default .nivoSlider img {
    display: none;
    left: 0px;
    position: absolute;
    top: 0px;
}

.theme-default .nivoSlider a {
    border: 0;
    display: block;
}

.theme-default .nivo-controlNav {
    bottom: -42px;
    left: 50%;
    margin-left: -40px; /* Tweak this to center bullets */
    position: absolute;
}

.theme-default .nivo-controlNav a {
    background: url(bullets.png) no-repeat;
    border: 0;
    display: block;
    float: left;
    height: 22px;
    margin-right: 3px;
    text-indent: -9999px;
    width: 22px;
}

.theme-default .nivo-controlNav a.active { background-position: 0 -22px; }

.theme-default .nivo-directionNav a {
    background: url(arrows.png) no-repeat;
    border: 0;
    display: block;
    height: 30px;
    text-indent: -9999px;
    width: 30px;
}

.theme-default a.nivo-nextNav {
    background-position: -30px 0;
    right: 15px;
}

.theme-default a.nivo-prevNav { left: 15px; }

.theme-default .nivo-caption { font-family: Helvetica, Arial, sans-serif; }

.theme-default .nivo-caption a {
    border-bottom: 1px dotted #fff;
    color: #fff;
}

.theme-default .nivo-caption a:hover { color: #fff; }