.login_navi {
    background-color: White;
    background-image: url("images/Login/navi_bg_login.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    border: 1px solid #09C;
    border-radius: 10px 10px 10px 10px;
    height: 240px;
    margin: auto;
    /*margin: 200px 345px;*/
    padding: 0 15px;
    width: 422px;
}

.title_getpass {
    background-image: url("images/Login/logo");
    background-repeat: no-repeat;
    color: #0072B0;
    float: left;
    font-size: 18px;
    margin: 20px 0 0 10px;
    padding-left: 15px;
    text-transform: uppercase;
    width: 300px;
}

.row1 {
    float: left;
    margin: 10px 0;
    padding-bottom: 0;
}

.input_form {
    border: 1px solid #09C;
    height: 28px;
    padding-left: 5px;
    width: 235px;
}

.tbl_getpass {
    float: left;
    font-size: 16px;
    margin: 15px;
}

.row1 span {
    float: left;
    width: 150px;
}

.row2 .btn_dangnhap { float: right; }

.btn_dangnhap {
    background-color: #0072B0;
    border: 1px solid #0072B0;
    color: #FFFFFF;
    float: left;
    float: left;
    font-weight: bold;
    height: 35px;
    padding-left: 18px;
    padding-right: 12px;
    width: 124px;
}

.row2 {
    float: left;
    margin: 20px 0 0;
    width: 390px;
}

.row2 .txt_orange {
    float: left;
    padding-top: 5px;
}

navi.css
.txt_orange { color: #F9720F; }

.txt_orange a {
    color: #09C;
    text-decoration: underline;
}




.buttons a, .buttons button {
    background-color: #f5f5f5;
    border: 1px solid #dedede;
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
    color: #565656;
    cursor: pointer;
    display: block;

    float: left;
    font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 130%;
    margin: 0 7px 0 0;
    padding: 5px 10px 6px 7px; /* Links */
    text-decoration: none;
}

.buttons button {
    overflow: visible;
    padding: 4px 10px 3px 7px; /* IE6 */
    width: auto;
}

.buttons button[type] {
    line-height: 17px; /* Safari */
    padding: 5px 10px 5px 7px; /* Firefox */
}

*:first-child + html button[type] { padding: 4px 10px 3px 7px; /* IE7 */ }

.buttons button img, .buttons a img {
    border: none;
    height: 16px;
    margin: 0 3px -3px 0 !important;
    padding: 0;
    width: 16px;
}


/* POSITIVE */

button.positive, .buttons a.positive {
    background-color: #09C;
    border: 1px solid #09C;
    color: #fff;
}

.buttons a.positive:hover, button.positive:hover {
    background-color: #FFCC33;
    border: 1px solid #09f;
    color: #333333;
}