.firstCol {
    background: none repeat scroll 0 0 #0095DA;
    border-left: 1px solid #0085C2;
    border-right: 1px solid #7DD3FA;
    height: 65px;
    text-align: center;
    width: 90px;
}

.firstCol span {
    color: #FFFFFF;
    font-size: 20px;
    line-height: 65px;
    text-align: center;
}

.secondCol {
    background-color: #E2E7E9;
    border-bottom: 1px solid #9A9A9A;
    color: #333333; /*    line-height: 20px;*/
    padding: 12px;
    text-align: center;
}

.input-txt {
    border: 1px solid #999999;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.5) inset;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 9px;
    padding-left: 5px;
    padding-top: 9px;
}

.order { margin: 20px auto 0px auto; }

.order a {
    background: none repeat scroll 0 0 #0097D8;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    display: block;
    float: left;
    font: bold 36px/60px Arial, Tahoma, Helvetica, sans-serif;
    height: 60px;
    margin-left: 27px;
    outline: medium none;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 223px;
}

.order a:hover { background: -moz-linear-gradient(center top, #6FC5E8, #1A7FC6) repeat scroll 0 0 transparent; }