.epi-loginLogo {
    font-weight: bold;
    height: 20px;
}

.epi-loginContent { padding: 200px 20px 20px 30px; }

.epi-inputText {
    border: 1px solid #999999;
    border-radius: 2px 2px 2px 2px;
    color: #444444;
    font-size: 14px;
    margin-right: 8px;
    padding: 6px;
    width: 205px;
}

.epi-credentialsContainer {
    margin-bottom: 5px;
    margin-top: 4px;
    overflow: hidden;
}

input[type="text"], input[type="password"], select, textarea { background-color: #FFFFFF; }

.epi-button-container { margin-top: 20px; }

.epi-float-left { float: left; }

label.episize50, label.episize80, label.episize100, label.episize140, label.episize200, label.episize240, label.episize300 {
    border: 0 none;
    display: inline-block;
}

body.epi-loginBody {
    background: url("images/Login/BodyBg.png") repeat-x scroll center top white;
    color: #333333;
    font-family: Arial, Verdana, Sans-Serif;
    font-size: 96%;
}

.epi-loginContainer {
    background: url("images/Login/episerver-artwork.png") no-repeat scroll right top #FFFFFF;
    border: 1px solid #878787;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
    font-family: Arial, Verdana, Sans-Serif;
    left: 50%;
    margin-left: -290px;
    margin-top: -14.2em;
    min-height: 400px;
    position: absolute;
    text-align: left;
    top: 50%;
    width: 580px;
}

.login_navi {
    background-color: White;
    background-image: url("images/Login/navi_bg_login.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    margin: auto;
}

.title_getpass {
    background-image: url("images/Login/logo");
    background-repeat: no-repeat;
    color: #0072B0;
    float: left;
    font-size: 18px;
    margin: 20px 0 0 10px;
    padding-left: 15px;
    text-transform: uppercase;
    width: 300px;
}

.row1 {
    float: left;
    margin: 10px 0;
    padding-bottom: 0;
}

.input_form {
    border: 1px solid #09C;
    height: 28px;
    padding-left: 5px;
    width: 235px;
}

.tbl_getpass {
    float: left;
    font-size: 16px;
}

.row1 span {
    float: left;
    margin-top: 8px;
    width: 78px;
}

.row2 .btn_dangnhap { float: right; }

.btn_dangnhap {
    background-color: #0072B0;
    border: 1px solid #0072B0;
    color: #FFFFFF;
    float: left;
    float: left;
    font-weight: bold;
    height: 35px;
    padding-left: 18px;
    padding-right: 12px;
    width: 124px;
}

.row2 { float: left; }

.row2 .txt_orange {
    float: left;
    padding-top: 5px;
}

navi.css .txt_orange { color: #F9720F; }

.txt_orange a {
    color: #09C;
    text-decoration: underline;
}




.buttons a, .buttons button {
    background-color: #f5f5f5;
    border: 1px solid #dedede;
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
    color: #565656;
    cursor: pointer;
    display: block;
    float: left;
    font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 130%;
    margin: 0 7px 0 0;
    padding: 5px 10px 6px 7px; /* Links */
    text-decoration: none;
}

.buttons button {
    overflow: visible;
    padding: 4px 10px 3px 7px; /* IE6 */
    width: auto;
}

.buttons button[type] {
    line-height: 17px; /* Safari */
    padding: 5px 10px 5px 7px; /* Firefox */
}

*:first-child + html button[type] { padding: 4px 10px 3px 7px; /* IE7 */ }

.buttons button img, .buttons a img {
    border: none;
    height: 16px;
    margin: 0 3px -3px 0 !important;
    padding: 0;
    width: 16px;
}


/* POSITIVE */

button.positive, .buttons a.positive {
    background-color: #0099CC;
    border: 1px solid #0099CC;
    color: #FFFFFF;
    margin-top: 15px;
}

.buttons a.positive:hover, button.positive:hover {
    background-color: #FFCC33;
    border: 1px solid #09f;
    color: #333333;
}