* {
    margin: 0;
    padding: 0;
}

#TB_window {
    color: #333333;
    font: 12px Arial, Helvetica, sans-serif;
}

#TB_secondLine {
    color: #666666;
    font: 10px Arial, Helvetica, sans-serif;
}
/* 
#TB_window a:link {color: #666666;}
#TB_window a:visited {color: #666666;}
#TB_window a:hover {color: #000;}
#TB_window a:active {color: #666666;}
#TB_window a:focus{color: #666666;}*/

#TB_overlay {
    -moz-opacity: 0.75;
    background-color: #000;
    filter: alpha(opacity=75);
    height: 100%;
    left: 0px;
    opacity: 0.75;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100;
}

* html #TB_overlay {
    height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
    /* ie6 hack */
    position: absolute;
}

#TB_window {
    background: #ffffff;
    border: 4px solid #525252;
    color: #000000;
    display: none;
    left: 50%;
    position: fixed;
    text-align: left;
    top: 50%;
    z-index: 102;
}

* html #TB_window {
    margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
    /* ie6 hack */
    position: absolute;
}

#TB_window img#TB_Image {
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #666;
    border-right: 1px solid #ccc;
    border-top: 1px solid #666;
    display: block;
    margin: 15px 0 0 15px;
}

#TB_caption {
    float: left;
    height: 25px;
    padding: 7px 30px 10px 25px;
}

#TB_closeWindow {
    float: right;
    height: 25px;
    padding: 11px 25px 10px 0;
}

#TB_closeAjaxWindow {
    float: right;
    margin-bottom: 1px;
    padding: 7px 10px 5px 0;
    text-align: right;
}

#TB_ajaxWindowTitle {
    float: left;
    margin-bottom: 1px;
    padding: 7px 0 5px 10px;
}

#TB_title {
    background-color: #e8e8e8;
    height: 27px;
}

#TB_ajaxContent {
    clear: both;
    line-height: 1.4em;
    overflow: auto;
    padding: 2px 15px 15px 15px;
    text-align: left;
}

#TB_ajaxContent.TB_modal { padding: 15px; }

#TB_ajaxContent p { padding: 5px 0px 5px 0px; }

#TB_load {
    display: none;
    height: 13px;
    left: 50%;
    margin: -6px 0 0 -104px; /* -height/2 0 0 -width/2 */
    position: fixed;
    top: 50%;
    width: 208px;
    z-index: 103;
}

* html #TB_load {
    margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
    /* ie6 hack */
    position: absolute;
}

#TB_HideSelect {
    -moz-opacity: 0;
    background-color: #fff;
    border: none;
    filter: alpha(opacity=0);
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

* html #TB_HideSelect {
    height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
    /* ie6 hack */
    position: absolute;
}

#TB_iframeContent {
    border: none;
    clear: both;
    margin-bottom: -1px;
    margin-top: 1px;
    _margin-bottom: 1px;
}