<appSettings>
  <add key="DisableSummaryControl" value="true" />
  <add key="DisableFooterControl" value="true" />


  <add key="Domain" value="http://bepnhaban.vn" />
  <add key="MailServer" value="mail.saa.com.vn" />
  <add key="EmailPort" value="25" />
  <add key="UserName" value="info@saa.com.vn" />
  <add key="PassWord" value="@123456@" />
  <add key="ImagesUpload" value="/Uploads/Images/" />
  <add key="MaxWidthImagesToUpload" value="601" />
  <add key="MinWidthImagesToUpload" value="80" />
  <add key="WidthToResize" value="135" />
  <add key="MaxNumAnswerVote" value="10" />
  <add key="googlemaps.Subgurim.net" value="YourGoogleMapsAPIKeyHere" />
  <add key="CrystalImageCleaner-AutoStart" value="true" />
  <add key="CrystalImageCleaner-Sleep" value="60000" />
  <add key="CrystalImageCleaner-Age" value="120000" />
  <add key="aspnet:MaxHttpCollectionKeys" value="20001" />

</appSettings>