.footer {
  background: none repeat scroll 0 0 #FFFFFF;
  clear: both;
  height: auto;
  margin: 0 0 30px;
  padding: 15px 10px;
}
.footer-disclaimer {
  font-size: 11px;
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
  font-size: 100%;
  margin: 0;
  outline: 0 none;
  padding: 0;
  vertical-align: baseline;
  color: #5C5B5B;
  font-family: arial,verdana,helvetica,sans-serif;
  font-size: 12px;
  text-align: center;
}