.block {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #EEEEEE;
  border-radius: 4px 4px 4px 4px;
}
.block .title {
  cursor: pointer;
  font-family: Times New Roman;
  font-size: 18px;
  font-weight: bold;
  /*line-height: 48px;*/
 
   background: #088FDB;
  border-radius: 5px 5px 0 0;
  color: #FFFFFF;
  /*font-size: 14px;*/
  letter-spacing: 1px;
  margin: 0;
  padding: 7px;
  text-align: center;
  /*text-transform: uppercase;*/
}
.block-category-navigation {
  margin-bottom: 15px;
    padding-bottom: 5px;
    padding-left: 0;
}
.block .listbox {
  border-radius: 0 0 5px 5px;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  padding: 5px 10px 10px;
}
.block-category-navigation .listbox ul .inactive {
   background: url("images/bullet-right.gif") no-repeat scroll left 8px transparent;
    line-height: 18px;
    list-style: none outside none;
    padding: 4px 1px 3px 13px;
}
