/* Reset code to remove theme inherent styling */
.dcjq-mega-menu {
    position: fixed;
    width: 965px;
    z-index: 999;
}

.dcjq-mega-menu ul.menu ul, .dcjq-mega-menu ul.menu li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dcjq-mega-menu ul.menu ul { display: none; /* Hides non-mega links */ }

.dcjq-mega-menu ul.menu .sub ul { display: block; /* overrides above hide */ }

/* Main menu styles */

.dcjq-mega-menu ul.menu {
    /* background: #222 url(../Images/NavProd_MegaMenu/bg_black.png) repeat-x 0 -80px;  */
    background: #0072B0;
    border-left: 1px solid #0072B0;
    border-right: 1px solid #0072B0;
    font: normal 13px Arial, sans-serif;
    height: 40px;
    line-height: 16px;
    margin-bottom: 15px;
    position: relative; /* Important - required for positioning of mega menu */
    width: 100%;
}

.dcjq-mega-menu ul.menu li {
    float: left;
    font-weight: bold;
    margin-left: 4px;
}

.dcjq-mega-menu ul.menu li a {
    /* background: url(../Images/NavProd_MegaMenu/bg_black.png) repeat-x 100% 0;  */
    background: #0072B0;
    color: #fff;
    display: block;
    float: left;
    padding: 12px 25px;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000;
}

.dcjq-mega-menu ul.menu li.mega-hover a, .dcjq-mega-menu ul.menu li a:hover {
    background-position: 100% -40px;
    color: #000;
    text-shadow: none;
}

/* Arrow tag for parent links */

.dcjq-mega-menu ul.menu li a.dc-mega {
    padding-right: 38px; /* Additional padding for arrow */
    position: relative; /* Required for arrow positioning */
}

.dcjq-mega-menu ul.menu li a .dc-mega-icon {
    background: url(../Images/NavProd_MegaMenu/arrow.png) no-repeat 0 0;
    display: block;
    height: 6px;
    position: absolute;
    right: 15px;
    top: 18px;
    width: 8px;
}

.dcjq-mega-menu ul.menu li.mega-hover a .dc-mega-icon { background-position: 0 100%; }

/* Mega Menu Styling */
/* Mega Drop Down Container */

.dcjq-mega-menu ul.menu li .sub-container {
    /*background: url(../Images/NavProd_MegaMenu/bg_sub_left.png) no-repeat 0 100%; */
    background: #0072B0;
    margin-left: -1px;
    padding-left: 10px;
    position: absolute; /* Required */
}

.dcjq-mega-menu ul.menu li .sub {
    background: url(../Images/NavProd_MegaMenu/bg_sub.png) no-repeat 100% 100%;
    padding: 20px 20px 20px 10px;
}

.dcjq-mega-menu ul.menu li .sub-container.mega .sub { padding: 20px 10px 0 0; }

.dcjq-mega-menu ul.menu li .sub .row {
    clear: both;
    overflow: hidden;
    /* Clear the sub-menu floats */
    width: 100%;
}

.dcjq-mega-menu ul.menu li .sub li {
    float: none;
    font-size: 1em;
    font-weight: bold;
}
/* Sub-menu Headers */

.dcjq-mega-menu ul.menu li .sub li.mega-hdr {
    border: 1px solid #ccc;
    /* Sub-menu headers - i.e. 2nd level navigation */
    float: left; /* Float the sub-menus and give them a fixed width to from the mega menu rows */
    margin: 0 10px 20px 10px;
    width: 260px;
}

.dcjq-mega-menu ul.menu li .sub a {
    /* Clear the styles from the top-level links and set the font styles */
    background: none;
    border: none;
    color: #111;
    display: block;
    float: none;
    font-size: 0.9em;
    padding: 7px 10px;
    text-decoration: none;
    text-shadow: none;
}

.dcjq-mega-menu ul.menu li .sub li.mega-hdr a.mega-hdr-a {
    background: #FF9900;
    border-bottom: 1px solid #ccc;
    color: #000;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 7px 10px;
    text-transform: uppercase;
    /*background: #EAEAEA url(../Images/NavProd_MegaMenu/bg_hdr.png) repeat-x center center;*/
}

.dcjq-mega-menu ul.menu li .sub li.mega-hdr a.mega-hdr-a:hover {
    color: #000;
    text-shadow: none;
}

.sub-container mega {
    left: 0pt;
    top: 40px;
    z-index: 1000;
}

/* Add the individual sub-menu backgrounds */

.dcjq-mega-menu ul.menu li .sub li#bepgas { background: url(../Images/NavProd_MegaMenu/bepgas.jpg) no-repeat 135px 40px white; }

.dcjq-mega-menu ul.menu li .sub li#beptu { background: url(../Images/NavProd_MegaMenu/beptu.jpg) no-repeat 135px 40px white; }

.dcjq-mega-menu ul.menu li .sub li#bepkethop { background: url(../Images/NavProd_MegaMenu/mkt.jpg) no-repeat 135px 40px white; }

.dcjq-mega-menu ul.menu li .sub li#thietbi { background: url(../Images/NavProd_MegaMenu/thietbi.jpg) no-repeat 135px 40px white; }

.dcjq-mega-menu ul.menu li .sub li#noicomdien { background: url(../Images/NavProd_MegaMenu/noicomdien.jpg) no-repeat 135px 40px white; }

.dcjq-mega-menu ul.menu li .sub li#tubepI { background: url(../Images/NavProd_MegaMenu/tubepI.jpg) no-repeat 135px 40px white; }

.dcjq-mega-menu ul.menu li .sub li#locnuoc { background: url(../Images/NavProd_MegaMenu/locnuoc.jpg) no-repeat 135px 40px white; }

.dcjq-mega-menu ul.menu li .sub li#davien { background: url(../Images/NavProd_MegaMenu/davien.jpg) no-repeat 135px 40px white; }

/* Style the 3rd level links */

.dcjq-mega-menu ul.menu li .sub li ul li { margin-right: 90px; }

.dcjq-mega-menu ul.menu .sub li.mega-hdr li a {
    background: url(../Images/NavProd_MegaMenu/bullet.png) no-repeat 10px 8px;
    color: #444;
    font-weight: normal;
    padding: 3px 0 3px 25px;
}

.dcjq-mega-menu ul.menu .sub li.mega-hdr li a:hover {
    background-image: url(../Images/NavProd_MegaMenu/bullet_on.png);
    color: #990000;
}

/* Styling for items with only 2 levels */

.dcjq-mega-menu ul.menu li .sub-container.non-mega .sub { padding: 20px 20px 20px 10px; }

.dcjq-mega-menu ul.menu li .sub-container.non-mega li { width: 190px; /* Set the drop down width */ }

.dcjq-mega-menu ul.menu li .sub-container.non-mega li a {
    background: url(../Images/NavProd_MegaMenu/bullet.png) no-repeat 5px 12px;
    padding: 7px 5px 7px 22px;
}

.dcjq-mega-menu ul.menu li .sub-container.non-mega li a:hover {
    background-image: url(../Images/NavProd_MegaMenu/bullet_on.png);
    color: #990000;
}