/*
 * jQuery Nivo Slider v2.7.1
 * http://nivo.dev7studios.com
 *
 * Copyright 2011, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * March 2010
 */
 
 
/* The Nivo Slider styles */

.nivoSlider { position: relative; }

.nivoSlider img {
    left: 0px;
    position: absolute;
    top: 0px;
}
/* If an image is wrapped in a link */

.nivoSlider a.nivo-imageLink {
    border: 0;
    display: none;
    height: 100%;
    left: 0px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 6;
}
/* The slices and boxes in the Slider */

.nivo-slice {
    display: block;
    height: 100%;
    position: absolute;
    z-index: 5;
}

.nivo-box {
    display: block;
    position: absolute;
    z-index: 5;
}
/* Caption styles */

.nivo-caption {
    background: #000;
    bottom: 0px;
    color: #fff;
    left: 0px;
    opacity: 0.8; /* Overridden by captionOpacity setting */
    position: absolute;
    width: 100%;
    z-index: 8;
}

.nivo-caption p {
    margin: 0;
    padding: 5px;
}

.nivo-caption a { display: inline !important; }

.nivo-html-caption { display: none; }
/* Direction nav styles (e.g. Next & Prev) */

.nivo-directionNav a {
    cursor: pointer;
    position: absolute;
    top: 45%;
    z-index: 9;
}

.nivo-prevNav { left: 0px; }

.nivo-nextNav { right: 0px; }
/* Control nav styles (e.g. 1,2,3...) */

.nivo-controlNav a {
    cursor: pointer;
    position: relative;
    z-index: 9;
}

.nivo-controlNav a.active { font-weight: bold; }